---
import Layout from '../../../layouts/Layout.astro';
---


<Layout title='Généralités sur les solutions aqueuses'>
<section class="textSection">
  <div class="textDev">
     Objectifs,
     A l'issu de ce chapitre vous serez capable de :
     <div>
         <br> Différentier les solutions aqueuses selon la taille des particules.
         <br> Utiliser les différentes expressions des concentrations.
         <br> Séparer les solutions aqueuses selon leurs propriétés physiques et chimiques.
         <br> Définir une solution.
     </div>
     <h1>II.1 Etude des solutions</h1>
     <h2>II.1.1 Notion de solution</h2>
     <p> Une solution est juste un mélange où vous avez quelque chose (appelé le "soluté") qui est mélangé dans quelque chose d'autre (appelé le "solvant").
         C'est comme faire un jus en mélangeant le sucre (le soluté) dans de l'eau (le solvant).
         Donc, une solution, c'est simplement le soluté plus le solvant.
         Solution = Solvant +Soluté
     </p>
     <p>
        <h3>mélange homogène et mélange hétérogène</h3>
        Un mélange homogène est comme du sucre complètement mélangé dans de l'eau : une fois mélangé, vous ne pouvez pas distinguer le sucre de l'eau.
        <br>Un mélange hétérogène, en revanche, est comme une salade de fruits : vous pouvez voir les différents morceaux de fruits distincts.
     </p>
     <p>
        <h3>Le sang est un mélange homogène ou hétérogène ?</h3>
        Le sang semble uniforme quand on le regarde, mais si on le regarde au microscope, on peut voir qu'il est en réalité composé de différentes choses (globules rouges, globules blanches,
        plaquettes). Donc, même s'il semble uniforme à l'œil nu, il est hétérogène en réalité. 
        Cela démontre l'importance de regarder au-delà des apparences pour comprendre la véritable nature des choses
     </p>
     <p>
        <h3>Remarque</h3>
        Une solution avec beaucoup de solvant est une "solution diluée".
        <br>Une solution avec beaucoup de soluté est une "solution concentrée".
        <br>Il y a une limite à la quantité de soluté que le solvant peut dissoudre. Lorsque cette limite est atteinte, la solution est "saturée".
        <br>Si le solvant est l'eau, on parle de "solution aqueuse".
    </p>
    <h2>II.1.2 Classification des solutions</h2>
    <h3>Selon la taille des particules</h3>
    <br>Solutions micromoléculaires (cristalloïdes) : Ce sont des solutions où les particules dissoutes sont très petites, comme les molécules et les ions. Elles sont claires et peuvent passer à travers les ... membranes.
    <br>Solutions macromoléculaires : Elles contiennent des particules dissoutes beaucoup plus grandes, comme les protéines, et ne peuvent pas passer à travers les membranes.
    <br>Colloïdes (colloïdales) ou pseudo-solutions : Ces solutions se situent entre les solutions micromoléculaires et macromoléculaires. Elles contiennent des particules de taille intermédiaire et peuvent former des dispersions stables.
    <p>
     <h3>Solutions micromoléculaires (cristalloïdes)</h3>
     Les solutions micromoléculaires (ou cristalloïdes) sont constituées de minuscules particules contenant quelques dizaines d'atomes.
     Leur taille est si petite (moins de 10 Å) qu'on a besoin d'un microscope électronique pour les voir. Des exemples courants de telles solutions sont le chlorure de sodium (NaCl), le glucose et l'urée.
    </p>
    <p>
        <h3>Solutions macromoléculaires</h3>
        Les solutions macromoléculaires contiennent de grandes particules, plus grosses que celles des solutions micromoléculaires, avec des tailles allant de 10 Å à 1000 Å.
        Ces particules sont composées d'un nombre d'atomes plus important, entre 10^3 et 10^9. On peut les voir au microscope optique. Des exemples sont l'ADN, les lipides et les protéines. En raison de leur ... ... taille, ces molécules ne peuvent pas traverser certains types de membranes.
    </p>
    <p>
        <h3>Colloïdes (colloïdales) ou pseudo-solutions</h3>
        Les colloïdes, ou pseudo-solutions, sont un type de mélange intermédiaire entre une vraie solution et une suspension. Ils consistent en de grosses molécules qui forment un mélange dispersé et stable avec le solvant. Le sang, l'albumine humaine, 
        le plasma frais congelé (FFP) et la gélatine sont des exemples de colloïdes.
    </p>
    <h1>II.2 Les Concentrations</h1>
    <h2>II.2.1 La fraction molaire xi</h2>

</div>
</section >
</Layout>
