<button data-confetti-button>Celebrate!</button>

<script>

  // Find our component DOM on the page.
  const buttons = document.querySelectorAll('[data-confetti-button]');

  // Add event listeners to fire confetti when a button is clicked.


</script>