---
import Layout from "../../../layouts/Layout.astro";
---

<Layout favicon="../../../favicon.svg">
  <section class="textSection">
    <div class="textDev">
  
    </div>
  </section>
</Layout>
<style>
  #text {
    direction: rtl;
  }
</style>
