---
import Layout from '../../../layouts/Layout.astro';

---

<Layout title='États de la matière'>
    <section class="textSection">
        <div class="textDev">
            <div class="test">
              <p>Hover over the equation to see the change:</p>
              <div id="math-display" class="math-equation">
                Original equation: \( f(x) = x^2 + 5x + 6 \)
              </div>
            </div>
            <div id="text">الدالة المشتقة تساعدنا في فهم الدالة نفسها , اذ اردنا معرفة كيف هي الدالة في اي نقطة معين لا نرسم المنحنى بل نستعمل الاشتقاق لمعرفة ان كانت متزايدة او متناقصة او ثابة في تلك النقطة
                y دالة نقول عنها f(x) الانها تتغير بتغير x الاشتقاقية هي دراسة دالك التغير كيف هي y في كل x معرفة في اي x تزداد y وفي اي x تتناقص و في اي x تكون تابة
            
                اسم المشتقة اعطيناه لدراسة الفرق بين نقطة ونقطة اخرى قريبة منها جدا , الفرق بينهما ....0,00000000 المهم انه يؤل لصفر لهذا نكتب x     0 ​
                من هنا عرَّفنا المشتق على انها  السرعة اللحظية , معدل التغيير اللحظي , معدل التغير الاني ​
               اذا النقطة التي نقوم بدراستها هي في الحقيقة نقطتان قريبتان جدا
            
               ابمعنا اخر لاشتقاقية هي دراسة الفرق بين نقطتين قريبتين جدا حيت ان الفرق بينهما يؤول الى الصفر اشارة الفرق اي اشارة المشتقة​
               اذا كانت موجبة كلما زاد اكس زاد اغراك يعني ان المنحنى متصاعد والدالة متزايدة ​
               اذا كانت سالبة كلما زاد اكس نقص اغراك يعني ان الدالة متناقصة​
               وتابتة عند انعدام المشتقة 
           
               معامل التغير هو الهدف من الاشتقاق و هو الميل نفسه  ماهو اذا​
               اكس تمر بمعادلة او ضيغة لتعطينا دالة اغراك​
               اذا قسمنا  اغراك على اكس سنجد هذا المعامل​
               y/x =المعامل​
               خطا هذا معامل وليس معامل تغير​
               معامل التغير يشمل نقطتين اي   عندما ننتقل من اكس الى اكس اخر تغير اغراك الى اغراك اخرى ​
               y0-y1/x0-x1 = معامل التغير​
               كيف هو ذالك التغير هل هو موجي ام سالب هل هو مضاعف وهذا يمكننا من معرفة كيف تتطور الدالة اى كيف تتغير الدالة متى تتزايد ومتى تتناقص ومتى تتبت و باي سرعة تتزايد الى اخره ​
               لكن على اكس و اكس التانية  يكون قربين الان معامل التغير يختلف بسرعة لهذا سميناه معامل التغيرالاني او الحضي
               
               لهاذا نكتب عندما تؤل اكس الى اكس التانية اي قربتان جدا​
               X0 -----) X1
               و يمكن ان نكتب ايضا عندما تؤل اكس ناقص اكس التانية الى الصفر​
               X0- x1 ------) 0
               اي عندما يصبح الفرق بينهما قريب من الصفر اي النقطتان قريبتان جدا
               اذن اكس تضرب في معامل ما  كيف مكان هذا المعامل سالب او موجب​
            
               معادلة المماس​
               Y=x.معامل​
               كما قلنا سابقا معامل التغير ليس اي معامل بل هو معرفة كيف تتغير غ الى غ اخرى عندما تتغير س الى س اخرى​
               عندما ندرس الاشتقاقية نقول عندما تؤل س1 الى س2 لان الدالة تتغير بسرعة و كذالك معامل التغير او التوجيه يتغيرفي كل نقطة​           
               تكون الدالة قابلة الاشتقاق عند نقطة اي لها معامل توجه اذا يمكننا صنع دالة المماس او معادلة المماس​
               لها معامل توجيه واحد في كل نقطة من س وهو نفسه معامل توجيه الدالة في تلك النقطة​
               وايضا  تكون مماس لدالة في نفس النقطة وذالك انطلاقا من المعادلة السابقة
               Y1-y2=x1-x2.معامل التغير​             




            </div>
        </div>
    </section>
</Layout>
<style>
    .test{
     height: 100vh;
     ;
    }
    #text {
        direction: rtl;
    }
</style>






