---
import Layout from '../../../layouts/Layout.astro';
---


<Layout title='États de la matière'>
    <section class="textSection">
        <div class="textDev">
            <div id="text">
                
المتتاليات النضر الاولية 
المتتاليات هي دوال , الدالة العادية تكتب f(x) و المتتالية تكتبf\math-container\math-container لكن نستبدل f ب U لتميزها  و نكتبها بهذه الطريقة Un 
ونقصد ب n number رقم المتتالية n ليس مثل x فx يعني مجهول وn يعني الرقم المتتالية 
                \math-container\math-container
الترقم يبدأ من 0 لهدا نكتب    \math-container

من اجل فهم المتتالية اكثر نقوم بعدة دراسات لمعرفة ان كانت متزايد او متناقصة , حسابية او هندسية .....

              _______________________________________________________________ 

قد يطلب منك العكس , ايجاد متتالية معين  \math-container انطلاقا من حد عام \math-container يسمى حد عام الانه يمكن ايجاد الحدود الاخرى عن طريق التعويض
يكن ايجاد حد ما بدون الحد العام لكن يجب و جود الحد الدي يسبقه و العبارة التراجعية
ايجاد \math-container
الحد الدي يسبقه \math-container
العبارة التراجعية \math-container
\math-container يساوي 11 و هدا هو اليرهان بتراجع 

     _____________________________________________________________________


يمكننا دراسة تغير الدالة من خلال معرفة الفرق بين الحد العام و العبارة التراجعية 
اد كان الفرق موجب فالدالة متزايدة و العكس صحيح و تكون ثابة في حالة تساوي الصفر 
يمكن ان تكون الدالة رتيبة اي متزايدة تماما او متناقصة تماما اي لا تصل الصفر ابدا 

فمتلا ان كانت الدالة محدود 
Un biger 2 فهي لا تصل الى الصفر و يمكن ان تكون محدوة من الجهتين او جه واحدة 

بعد معرفة اتجاه الدالة قد نبحت عن نهايتها 
يمكن ان تنتهي المتتالية الى عدد و هدا يحتاج تمتيل بياني لفهمه
او محدودة 
متباعدة في حالة  او غير موجودة 

     ______________________________________________________________________

بعد معرفة اتجاه الدالة يمكننا معرفة نوع  المتتالية  و المتتاليات انواع عديدة  

المتتالبية الحسابية  ما يمز المتتالية الحسابية هي الزيادة التابة مابين حدودها 
Un+1=Un+r
عبارة الحد العام 
Un=Up+(n-p)r
الوسط الحسابي 
n-p+1/2*(Un-Up)
   __________________________________________________________________________

العمق في عبارة الحد العام 
Un=Up+r(n-p)
هدف العبارةا يجاد اي حد من المتتالية بتعويض رقم الحد مكان n انطلاقا من الحد الاول زائد الفرق r (يضرف الفرق r في رقم الحد المراد ايجاده و ينقص 1 الانه في الحد الاول لايوجد الفرق)
نستطيع ايجاد الحد بطريقة اخر و هي العبارة التراجعية و لا نحتاج الحد الاول بل الحد الدي يسبق الحد مراد ايجاده رائد r
Un=Un-1 +r

____________________________________________________________________________

نهاية المتتالية الحسابية يكمن حساب النهاية كما يمكن ايجادها عن طريق متتالية اخر 
عن طريق التقارب او التجاور او الحصر او عن طريق دالة

<button id="myButton">Hover over me</button>


             </div>
             <button id="myButton2">Hover over me</button>
        </div>
    </section>
</Layout>
<style>
      #text {
    direction: rtl;
}


</style>
<script>
    import tippy from 'tippy.js';
import 'tippy.js/dist/tippy.css';

tippy('#myButton2', {
  content: 'Tooltip'
});

  </script>
