---
import Layout from '../../../layouts/Layout.astro';
---


<Layout favicon='../../../favicon.svg'>
 <section class="textSection">
  <div class="textDev">
    <div id="text">
        الدالة الاساسية يكون فيها المتغير "اكس"  هو الاس نفسه​
        F(x) = a^x =a*a*a*a*a*a    حسب اكس​
        a = a^x/a^x-1
        يمكننا الان ايجاد المتغير"ء" انطلاقا من منحنى بياني او جدول بياني​    
        F(x) = a^x = a * a^x-1
        لا تكون الدالة دائم سهلة بهذه الطريقة بل قد يحتوي  الاس على متغيرات مع الاكس
    </div>
  </div>
 </section >
</Layout>
<style>
    #text {
    direction: rtl;
}

</style>
